@import "tailwindcss";

/* @custom-variant dark (&:is(.dark *)); */ 

.bg_color_home2 {
  background: rgba(0, 0, 0, 0.968)
}
.bg_navbar {
  background:#0A0A0A;
}
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


  /* Group the cards for better structure. */
